<% if flash.notice.present? %>
  <div class="alert alert-primary my-4" role="alert">
    <%= flash.notice %>
  </div>
<% end %>

<% if flash.alert.present? %>
  <div class="alert alert-danger my-4" role="alert">
    <%= flash.alert %>
  </div>
<% end %>
