<% content_for :title, "Turbo Navigator" %>

<div class="d-turbo-native-none my-4">
  <h1 class="fs-3 font-monospace">Turbo Navigator</h1>
</div>

<p class="mt-3">This app demos the different navigation patterns included with Turbo Navigator.</p>
<p>Each screen displays information on how to trigger the navigation along with most likely next steps.</p>

<div class="list-group list-group-flush mx-n3 sm:mx-0">
  <%= render "navigations/item",
    path: navigation_path,
    icon: "bi-arrow-right",
    name: "Basic navigation",
    description: "Push a screen on the stack." %>

  <%= render "navigations/item",
    path: new_modal_path,
    icon: "bi-arrow-up",
    name: "Modal navigation",
    description: "Present a modal screen." %>
</div>

<%= link_to "CRUD example", resources_path, class: "btn btn-outline-primary w-100 mt-5" %>
