<% content_for :title, "Modal navigation #2" %>

<p class="my-3">This screen was pushed on the modal stack.</p>

<p class="mb-0">Triggered via the following Path Configuration rule:</p>
<pre><code>
{
  "patterns": [
    "/modal$"
  ],
  "properties": {
    "context": "modal"
  }
}
</code></pre>

<div class="list-group list-group-flush mx-n3 sm:mx-0">
  <%= render "navigations/item",
    path: replace_modal_path,
    data: {turbo_action: :replace},
    icon: "bi-arrow-left-right",
    name: "Replace navigation",
    description: "Replace this modal screen with a new one." %>

  <%= render "navigations/item",
    path: turbo_recede_historical_location_path,
    icon: "bi-arrow-left",
    name: "Recede navigation",
    description: "Pop this screen off the modal stack." %>
</div>
