<% content_for :title, "Replace navigation" %>

<p class="my-3">This screen replaced the previous one.</p>

<p class="mb-0">Trigger this by adding the following to a link:</p>
<p><code>data: {turbo_action :replace}</code></p>
